

header {
  background-color: #282c34;
  width: 100%;
  min-height: 100;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  color: white;
  border-bottom: gray;
  animation: fadeInAnimation ease 2s;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
}

.title {
  display: inline-block;
  margin-left: 30px;
  font-size: 24px;
}

.internal-nav {
  display: inline-flex;
  float:inline-start;
}

.external-links {
  display: inline-flex;
  float: right;
  align-content: flex-end;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
