a {
    text-decoration:none;
}

.profile {
    display: inline-flex;
    border-radius: 10%;
    margin: 10px 50px;
}

.title {
    display: inline-flex;
    margin: 10px 50px;
}

.profileBlock {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {

    .profile, .title, .profileBlock {
        display: block;
        margin: 20px auto
    }

    .title {
        text-align: center;
    }

}
