
h1 {
    text-align: center;
}

a {
    color: white
}

a:visited {
    color: white
}

.titlePic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: auto
}

.articlePic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: auto;
}

.centerDisplay {
    margin: 40px auto;
    text-align: center;
}

.dataView {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    height: 500px
}

.italic {
    font-style: italic;
}

.thumbnail {
    display: inline;
    margin: 20px
}

.thumbnailLink {
    text-decoration: none;
}

.thumbnailBox {
    color: white;
    text-align: center;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.thumbnailBox:hover img{
    filter: brightness(20%);
    transition: .3s ease-in-out
}

.thumbnailText {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0
}

.thumbnailDate {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0
}

.thumbnailBox:hover .thumbnailText {
    opacity: 1;
    transition: .3s ease-in-out
}

.thumbnailBox:hover .thumbnailDate {
    opacity: 1;
    transition: .3s ease-in-out
}

.blogListBox {
    display: flex;
    width: 100%;
    max-height: 150px;
}

.blogList {
    display: flex;
    overflow-x: scroll;
    margin: 0px;
}

.arrow {
    margin: auto;
    padding: 0px 5px 5px 5px;
    cursor: pointer;
}

.dynamicShuffle {
    display: inline-flex;
}

@media screen and (max-width: 600px) {

    .titlePic {
        width: 280px;
    }

    .thumbnailText {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        opacity: 1
    }
    
    .thumbnailDate {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        opacity: 1
    }

    .blogListBox {
        height: 200px;
        margin-bottom: 50px;
    }
    
    .blogList {
        height: 200px
    }

    .dynamicShuffle {
        display: block;
    }
    
}

