html, body, body > div {
    width: 100%;
    margin: 0px;
    background-color: rgb(38, 71, 105);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.pageView {
    max-width: 1000px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}